.App {
  margin: 0;
}

.App-header {
  width: 326px;
  height: 122px;
  margin: 60px 0 0 60px;
  gap: 0px;
  opacity: 0px;
}

.App-header h1 {
  font-family: Circular Std;
  font-size: 70px;
  font-weight: 400;
  line-height: 88.56px;
  text-align: left;
  color: #1a243a;
  margin: 0;
}

.App-header p {
  width: 141px;
  height: 23px;
  gap: 0px;
  margin: 0;
  opacity: 0px;
  color: #67bf6b;
}

.usd-sup {
  position: absolute;
  width: 49px;
  height: 30px;
  left: 337px;
  top: 77px;
  font-family: "Circular Std";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 30.36px;
  color: #bdbebf;
}

.chart-container {
  margin-top: 20px;
  text-align: center;
  padding: 1rem;
  background-color: #f5f7fa;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
