.App-header {
  min-width: 269px;
  height: 89px;
  margin: 60px 0 0 60px;
  color: #1a243a;
}

.App-header h1 {
  margin: 0;
  font-size: 70px;
  font-weight: 400;
  line-height: 88.56px;
  font-family: "Circular Std";
  font-style: normal;
}

.usd-sup {
  position: absolute;
  width: 49px;
  height: 30px;
  left: auto;
  top: 77px;
  font-family: "Circular Std";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  color: #bdbebf;
}

.profit-line {
  margin: 0;
  width: auto;
  height: 23px;
  color: #67bf6b;
  font-family: "Circular Std";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
}

.menu {
  position: absolute;
  width: 940px;
  height: 43px;
  top: 222px;
  display: flex;
  justify-content: space-between;
  padding-left: 60px;
  gap: 30px;
}

.menu button {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-family: "Circular Std";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #6f7177;
}

.menu button:hover {
  border-bottom: 3px solid #4b40ee;
}
